.footer {
  background-color: #fff;
}
.footer_inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.footer_logo {
  width: 150px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_logo img {
  width: auto;
  height: 60px;
}
.footer_nav ul {
  display: flex;
  gap: 24px;
}
